<div class="container container--content">
    <h3 class="u-alignCenter">About me</h3>
   <p>After graduating in Computer Science Engineer in 2010 and working for almost five years as developer I decided to follow my passion and to free my creativity. I studied one year 3D design, animation and motion graphics at private school ARIES Lyon and then I continued practising by myself.
Currently I am concentrated in modelling for 3d printing, but and I like also the architecture and interior design domains, among others.</p>
  </div>
  