---
layout: default
title: About Vincent Chan
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Vincent Chan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>After graduating in Computer Science Engineer in 2010 and working for almost five years in France I decided to follow my passion and to free my creativity. I studied one year 3D design, animation and motion graphics at private school ARIES Lyon and then I continued practising by myself.
Currently I am concentrated in modelling for 3d printing, but and I like also the architecture and interior design domains, among others.</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“If you can dream it, you can do it. Always remember that this whole thing was started with a dream and a mouse.” - Walt Disney</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Become a full stack entrepreneur (design, engineering)</li>
          <li>Become a good dad</li>
          <li>Share lessons and failures to help fellow entrepreneurs</li>
          <li>Spend more time on side projects</li>
          <li>Do more exercises</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Having my own jewelery brand</li>
          <li>Building my own house</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          mindi
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Disney, Google, IKEA, Sony, Starbucks, Pixar...
        </p>
        <h4>Favorite Startups</h4>
        <p>
          GitHub, Airbnb, Dropbox, Pinterest...
        </p>
        <h4>Favorite Brands</h4>
        <p>
          Canon, Disney...
        </p>
       <!--  <p>
          Photo Credit: <a href="http://www.pixar.com/short_films/Theatrical-Shorts/La-Luna" target="_blank">Pixar's La Luna</a>
        </p> -->
      </div>
    </div>
  </section>
</article>
  
<hr/>
{% include subscribe.html %}
{% include footer.html %}
