---
layout: default
image: /images/fulls/01.jpg
---

<article>
  <header class="major">
    <h2>{{ page.title }}</h2>
    <p>
      {% for section in site.sections %}
      {% if section.name contains page.category %}
      <i class="fa fa-tags"></i>
      <a href="{{ site.github.url }}{{ section.url }}" >{{ section.name }}</a>
      {% endif %}
      {% endfor %}
      <span style="padding-left: 10px;">{% include readingtime.html %}</span>
    </p>
  </header>

  <section>
    {{ content }}
  </section>
</article>

{% include comments.html %}

{% if page.previous.url or page.next.url %}
<hr />
<div class="row">
  <article class="6u 12u$(xsmall) work-item">
    {% if page.previous.url %}
    <p>Previous</p>
    <h3><a href="{{ page.previous.url }}">{{page.previous.title}}</a></h3>
    <p>{{ page.previous.excerpt | strip_html }}</p>
    {% endif %}
  </article>
  <article class="6u$ 12u$(xsmall) work-item">
    {% if page.next.url %}
    <p>Next</p>
    <h3><a href="{{ page.next.url }}">{{page.next.title}}</a></h3>
    <p>{{ page.next.excerpt | strip_html }}</p>
    {% endif %}
  </article>
</div>
{% endif %}

{% include scripts.html %}


